{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }} de <b>{{ nombredecliente.nombre }}</b></h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><a href="/clienteslista"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><a href="/matepalta/{{ cdcliente2 }}"> <button type="button" class="btn btn-success">Agregar Nueva</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
		</tr>	
		</table>
	<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12">
			  <table class="table table-striped">

				<tr>
					<th>ID</th>
					<th style="width:60px">Cd. de Cliente</th>
					<th style="width:110px">Cd. de Materia Prima</th>
					<th>Nombre</th>
					<th>Unidad de Medida</th>
					<th>Principio Activo</th>
					<th>¿Usa envase?</th>
					<th>¿Usa cinta?</th>					
					<th>Activa</th>
					<th colspan="2">Opciones</th>
				</tr>
				{% for matep in mateps %}
				<tr>
					<td>{{ matep.id }}</td>
					<td>{{ matep.cdcliente }}</td>
					<td>{{ matep.codigo }}</td>
					<td>{{ matep.nombre }}</td>
					<td>{{ matep.umed }}</td>
					<!-- Principio activo -->
					{% if matep.pactivo == 1 %}
						<td><span>Si</span></td>
					{% else %}
						<td><span>No</span></td>
					{% endif %}
					<!-- Usa envase -->
					{% if matep.id_envase_fk != 0 %}
						<td><span>Si</span></td>
					{% else %}
						<td><span></span></td>
					{% endif %}
					<!-- Usa cinta -->
					{% if matep.usacinta == 1 %}
						<td><span>Si</span></td>
					{% else %}
						<td><span>No</span></td>
					{% endif %}					
					<!-- Activa -->
					{% if matep.activa == 1 %}
						<td><span>Activo</span></td>
					{% else %}
						<td><span>No activo</span></td>
					{% endif %}
					<td>
						<a href="/matepmodificar/{{ matep.id }}"><button class="btn btn-warning">Modificar</button></a>
					</td>
					<td>
						<a href='/matepborrar/{{ matep.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/>
					</td>
				</tr>
				{% endfor %}	 
			  </table>				
			</div><!--div col xs12 -->
		</div><!--div row -->

</div>

{% endblock %}