{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/mpenreactormodificar.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/mpenreactormodificar">
		<table align="center" class="table table-striped">
			<input type="hidden" value="{{ mpenreactor.id }}">
			<tr>
				<td>Reactor/Mezclador:</td>
				<td><input type="text" id="reactor" name="reactor" value="{{ mpenreactor.rnombre }}" readonly></td>
			</tr>
			<tr>
				<td>Capacidad Maxima:</td>
				<td><input type="text" id="maxima" name="maxima" value="{{ mpenreactor.maximo }}" onkeypress="return numbersonly(event);"  required ></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
	$("#formalta").validate();
	function numbersonly(e)  {
        var unicode = e.charCode ? e.charCode : e.keyCode
        if (unicode != 8 && unicode != 44) {
            if (unicode < 48 || unicode > 57) //if not a number
            {
                return false
            } //disable key press    
        }
    } 
</script>

{% endblock %}