{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }} {{ matep.nombre }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><a href="/mateplista/{{ matep.cdcliente }}"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><a href="/mpenreactoralta/{{ matep.id }}"><button type="button" class="btn btn-success">Agregar Nueva</button></a></td>
		</tr>	
		</table>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<table class="table table-striped">
			  		<thead>
			  			<tr> 
							<th>ID</th>
							<th>ID Reactor</th>
							<th>Cd. Reactor</th>
							<th>Nombre Reactor</th>
							<th>Maximo</th>
							<th>Opciones</th>
						</tr>
			  		</thead>
			  		<tbody>
			  			{% for mpenreactor in mpsenreactores %}
							<tr>
								<td>{{ mpenreactor.id }}</td>
								<td>{{ mpenreactor.idreactor }}</td>
								<td>{{ mpenreactor.rcodigo }} </td>
								<td>{{ mpenreactor.rnombre }}</td>
								<td>{{ mpenreactor.maximo }}</td>
								<td><a href="/mpenreactormodificar/{{ mpenreactor.id }}"><button class="btn btn-warning">Modificar</button></a></td>
								<td><a href='/mpenreactorborrar/{{ mpenreactor.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
							</tr>
							{% endfor %}
			  		</tbody>
				  </table>				
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
{% endblock %}