{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/prog1alta2.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/prog1alta2">
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		        <img src="/uploads/formula.jpg">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
		<table align="center" class="table table-striped" >
		<tr>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
			{% if prog.resultado != 0 %}
				<td><span><b>Aclaración:</b> Esta programacion ya tiene un resultado guardado.</span></td>
			{% endif %}
		</tr>	
		</table>
		<table align="center" class="table table-striped" >
			<input type="hidden" id="id" name="id" value="{{ id }}">
			<tr>
				<td>Cantidad de Principio Activo:<br><small>Ingrese la cantidad de P.A.<br><b>Máximo: {{ formenreactor.maximo }}</b></small></td>
				{% if prog.resultado != 0 %}
					<td><input type="text" id="cant" name="cant" value="{{ p2.peso_obj }}" class="form-control"></td>
				{% else %}
					<td><input type="text" id="cant" name="cant" value="{{ prog.maximo }}" class="form-control"></td>
				{% endif %}
			</tr>
			<tr>
				<td>Titulo del Principio Activo:</td>
				<td><input type="text" id="titulo" name="titulo" value="{{ prog.concepla }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>% del Principio Activo:</td>
				<td><input type="text" id="porce" name="porce" value="{{ prog.concepf }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Volumen Final:</td>
				<td><input type="text" id="volfinal" name="volfinal" readonly class="form-control"> <!--<button type="button" id="btnAutoCalculo">Re</button>--></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				{% if prog.resultado == 0 %}
					<td><input type="submit" value="Guardar"></td>
				{% else %}
					<td><input type="submit" value="Guardar" onclick="if (!confirm('¿Seguro guardar el nuevo resultado?')) return false;"></td>
				{% endif %}
			</tr>
			<tr>
				<td colspan="2"><span>*Al guardar se generarán los datos para la planilla de Orden de Formulacion de Agroquimicos.</span></td>
			</tr>
		</table>
	</form>
</div>
	<br>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Datos de Envase</h3>
	  </div>
	  <div class="panel-body">
	    <table align="center" class="table table-striped">
			<tr>
				<td>Envase seleccionado para Fraccionado:</td>
				<td><input type="text" class="form-control" id="envase" aria-describedby="basic-addon2" readonly value="{{ prog.nombreenvase }}"></td>
			</tr>
			<tr>
				<td>Capacidad de Envase:</td>
				<td><input type="text" class="form-control" id="capacidadenvase" name="capacidadenvase" readonly value="{{ envase.capacidad }}"></td>
			</tr>
			<tr>
				<td>Unidad de Medida del Envase:</td>
				<td><input type="text" class="form-control" id="umedenvase" name="umedenvase" readonly value="{{ umed.nombre }}"></td>
			</tr>
			<tr>
				<td>Volumen Final redondeado al Envase:</td>
				<td><input type="text" class="form-control" id="volredondeado" name="volredondeado" readonly></td>
			</tr>
		</table>
	  </div>
	</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	function justNumbers(e){
		var keynum = window.event ? window.event.keyCode : e.which;
		if ((keynum == 8) || (keynum == 46))
		return true; 
		return /\d/.test(String.fromCharCode(keynum));
	}

	$("#btnAutoCalculo").on("click", function() {
		cant = $('#cant').val();
		titulo = $('#titulo').val();
		porce = $('#porce').val();
		volfinal = (cant*titulo)/porce;
		$('#volfinal').val(volfinal.toFixed(2));
	});
	
	$('#cant').on("change", function(){
		cant = $('#cant').val();
		titulo = $('#titulo').val();
		porce = $('#porce').val();
		volfinal = (cant*titulo)/porce;
		$('#volfinal').val(volfinal.toFixed(2));

		capacidad = $('#capacidadenvase').val();
		volred = Math.ceil(volfinal/capacidad);
		//console.log("volfinal "+volfinal)
		//console.log("capacidad "+capacidad)
		//console.log("volred "+volred)
		volredfinal = volred*capacidad;
		//console.log("volredfinal "+volredfinal)
		$('#volredondeado').val(volredfinal);
	});

	$(function(){
		cant = $('#cant').val();
		titulo = $('#titulo').val();
		porce = $('#porce').val();
		volfinal = (cant*titulo)/porce;
		$('#volfinal').val(volfinal.toFixed(2));
		$('#cant').focus();

		capacidad = $('#capacidadenvase').val();
		volred = Math.ceil(volfinal/capacidad);
		//console.log("volfinal "+volfinal)
		//console.log("capacidad "+capacidad)
		//console.log("volred "+volred)
		volredfinal = volred*capacidad;
		//console.log("volredfinal "+volredfinal)
		$('#volredondeado').val(volredfinal);
	});

</script>

{% endblock %}