{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/recetamodificar.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/recetamodificar">
		<table align="center" class="table table-striped">
			<input hidden name="id" value="{{ id }}">
			<tr>
				<td>ID Formulado:</td>
				<td><input type="text" id="idproducto" name="idproducto" value="{{ receta.producid }}" readonly></td>
			</tr>
			<tr>
				<td>Materia Prima:</td>
				<td>
					{% for matep in mateps %}
						{% if receta.matepid == matep.id %}
							<input hidden name="matepid" value="{{ matep.id }}">
							<span name="matepid">{{ matep.nombre }}</span>
						{% endif %}
					{% endfor %}					
				</td>
			</tr>
			<tr>
				<td>Porcentaje (si es principio activo coloque cero):</td>
				<td><input type="text" id="porcentaje" name="porcentaje" required placeholder="Para decimales utilice punto." onkeypress="return NumCheck(event, this)" value="{{ receta.porce }}"></td>
			</tr>
			<!--<tr>
				<td>Solo Porcentaje:</td>
				<td><input type="checkbox" name="soloporce"></td>
			</tr>-->
			<tr>:
				<td>Usa Lote:</td>
				<td>
					{% if receta.usalote == 1 %}
						<input type="checkbox" name="usalote" checked>
					{% else %}
						<input type="checkbox" name="usalote">
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Orden:</td>
				<td><input type="text" id="orden" name="orden" required value="{{ receta.orden}}"></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#formula').limit('30','#charsLeftFormula');
	function NumCheck(e, field) {
	  key = e.keyCode ? e.keyCode : e.which
	  // backspace
	  if (key == 8) return true
	  // 0-9
	  if (key > 47 && key < 58) {
	    if (field.value == "") return true
	    regexp = /.[0-9]{4}$/
	    return !(regexp.test(field.value))
	  }
	  // .
	  if (key == 46) {
	    if (field.value == "") return false
	    regexp = /^[0-9]+$/
	    return regexp.test(field.value)
	  }
	  // other key
	  return false
	}
</script>

{% endblock %}