{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>
			<td><a href="/inicio"> <button type="button" class="btn btn-primary">Atras</button></a></td>
			<td><a href="/remitosalta"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
			<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Ayuda</button></td>
			<ul class="nav navbar-nav navbar-right">
        		<li>BUSCAR por fecha de remito: <input type="textbox" id="fechainicio" name="fechainicio" class="datepicker" placeholder="Formato dd/mm/aaaa" readonly> al <input type="textbox" id="fechafin" name="fechafin" class="datepicker" placeholder="Formato dd/mm/aaaa" readonly> <button class="btn btn-default" name="ok" ID="ok">OK</button> </li>
      		</ul>
		</tr>	
		</table>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{ ayuda.titulo }}</h4>
		      </div>
		      <div class="modal-body">
		        {{ ayuda.texto }}
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div style="overflow: scroll;">
				<table id="tabla" class="table table-striped">
			  		<thead>
			  			<tr> 
			  				<th colspan="3">Opciones</th>
							<th>ID</th>
							<th>Tipo</th>
							<th><div style="width: 100px">Fecha Rto.</div></th>
							<th><div style="width: 100px">Fecha Mto.</div></th>
							<th><div style="width: 130px">Nro. Remito</div></th>
							<th><div style="width: 250px">Cliente</div></th>
							<th><div style="width: 125px">Materia Prima</div></th>
							<th>Lote</th>
							<th><div style="width: 100px">Envase</div></th>
							<th>Cantidad</th>
							<th>Neto</th>
							<th>Concentracion en origen</th>
							<th>Concentracion en la planta</th>
							<th><div style="width: 110px">Ubicacion</div></th>
							<th>Observaciones</th>
							
						</tr>
			  		</thead>
			  		<tbody id="tbodyremitolisto">
			  			
			  		</tbody>
			  		<script type="text/template" id="tablaremito">
			  				[[#.]]
			  				<tr>
			  					<td>
			  						<a href="remitosmodificar/[[id]]" class="btn btn-warning">Modificar</a>
			  					</td>
			  					<td>
			  						<a href="remitosborrar/[[id]]" class="btn btn-danger" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;">Borrar</a>
			  					</td>
			  					<td>
			  						<a href="lab/[[id]]" class="btn btn-default">Labo</a>
			  					</td>
			  					<td>
			  						[[id]]
			  					</td>
			  					<td>
			  						[[#tipo]]
			  							Ingreso
			  						[[/tipo]]
			  						[[^tipo]]
			  							Egreso
			  						[[/tipo]]
			  					</td>
			  					<td>
			  						[[fecharf]]			  					
			  					</td>
			  					<td>
			  						[[fechamf]]
			  					</td>
			  					<td>
			  						[[nremito]]
			  					</td>
			  					<td>
			  						[[cnombre]]
			  					</td>
			  					<td>
			  						[[mpnombre]]
			  					</td>
			  					<td>
			  						[[lote]]
			  					</td>
			  					<td>
			  						[[enombre]]
			  					</td>
			  					<td>
			  						[[cantidad]]
			  					</td>
			  					<td>
			  						[[neto]]
			  					</td>
			  					<td>
			  						[[conceori]]
			  					</td>
			  					<td>
			  						[[concepla]]
			  					</td>
			  					<td>
			  						[[unombre]]
			  					</td>
			  					<td>
			  						[[observaciones]]
			  					</td>
			  				</tr>	
			  				[[/.]]						
			  			</script>	
				  </table>		
			</div>	  		
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script type="text/javascript" src="/js/mustache-wax.js"></script>
<script type="text/javascript">
	$(function(){
		// Return today's date and time
		var currentTime = new Date()
		// returns the month (from 0 to 11)
		var month = currentTime.getMonth() + 1
		// returns the day of the month (from 1 to 31)
		var day = 1
		// returns the year (four digits)
		var year = currentTime.getFullYear()
		if (month<10){
			month = "0" + month
		}
		fechaI = '01/'+month+'/'+year;
		var fechaI  = encodeURIComponent(fechaI);

		var date = new Date();
		day = date.getDate();
		if (day<10)
			day = "0" + day;
		month = date.getMonth() +1;
		if (month<10)
			month = "0" + month;
		fechar =  day+ '/' + month + '/' +  date.getFullYear()
		//console.log(fechar);
		var fechaF = encodeURIComponent(fechar)

		$.getJSON('/buscarremito/'+ fechaI + '/' + fechaF , function (data){
			$('#tbodyremitolisto > tr').remove();
			var template= $('#tablaremito').html();
			Mustache.tags=['[[',']]'];
			var html = Mustache.to_html(template, data);
			//console.log(html);
			$('#tbodyremitolisto').html(html);
		});
	});

	$(".datepicker").datepicker({
		format: 'dd/mm/yyyy',
		language: 'es',
		autoclose: true
	});
	$("#ok").on("click", function() {
		var fechaI  = encodeURIComponent(document.getElementById('fechainicio').value);
		var fechaF = encodeURIComponent(document.getElementById('fechafin').value)
		$.getJSON('/buscarremito/'+ fechaI + '/' + fechaF , function (data){
			//console.log(data);
			$('#tbodyremitolisto > tr').remove();
			var template = $('#tablaremito').html();
			Mustache.tags =['[[',']]'];
			var html = Mustache.to_html(template, data);
			//console.log(html);
			$('#tbodyremitolisto').html(html);
		});
	});
</script>
{% endblock %}