<HTML>
<HEAD>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>

<TITLE>Ubicaciones de la nave</TITLE>
<STYLE>
	#nave{
		position: absolute;
		width: 1200px;
		height: 600px;
		background-color: #eee;
	}
	#agregar{
		position: absolute;
		top: 610px;
	}
</STYLE>
</HEAD>
<BODY>
<section id="header">
<p>Nave:</p>
	<select id="naves">
		{% for n in naves %}
		<option value="{{ n.id }}">{{ n.nombre }}</option>
		{% endfor %}
	</select>
	<h1>Crear ubicaciones</h1>
	<p>Ingresar nombre de la ubicacion:</p>
	<input type="text" id="nombre">
	<input type="color" id="color">
	<button id="click">Agregar</button>
</section>
<section id="nave">
	
</section>
<form method="post" action="/ubicaalta">
<input id="agregar" type="submit" value="Agregar">
</form>
</BODY>
<SCRIPT>$(document).ready(function(){
		$('#click').click(function(){
		var nombre = $('[id=nombre]').val();
		var color = $('[id=color]').val();
		$('#nave').append('<div id='+nombre+'><p>'+nombre+'</p></div>');
		$('#'+nombre).css("background-color", color);
		$('#'+nombre).draggable({cursor:"move", containment:"parent"});
		$('#'+nombre).resizable({autoHide:true});
	});
});
</SCRIPT>
</HTML>