#nombre{
	width: 60%;
}
#direccion{
	width: 60%;
}
#localidad{
	width: 60%;
}
#provincia{
	width: 60%;
}
#telefonos{
	width: 60%;
}
#mail{
	width: 60%;
}
#contacto{
	width: 60%;
}
#contel{
	width: 60%;
}
#concel{
	width: 60%;
}
#connex{
	width: 60%;
}
#conmail{
	width: 60%;
}
#cuit{
	width: 30%;
}
#iva{
	width: 60%;
}
#claveweb{
	width: 60%;
}
.aviso{
	font-size: 8px;
}