.lotemp{
	width: 100px;
}

.pesoobj{
	width: 100px;
}

.pulsoobj{
	width: 80px;
}

.pulsoreal{
	width: 80px;
}

.hri{
	width: 100px;
}

.hrf{
	width: 100px;
}

.tempi{
	width: 50px;
}

.tempf{
	width: 50px;
}

.phi{
	width: 50px;
}

.phf{
	width: 50px;
}